
/*General*/
::-webkit-scrollbar {
  width: 13px;  /* 设置为你想要的宽度 */
}

/* 2. 滚动条轨道（背景） */
::-webkit-scrollbar-track {
  background: transparent;  /* 使轨道透明 */
}

::-webkit-scrollbar-button{
  display: none;
}

/* 3. 滚动条滑块 */
::-webkit-scrollbar-thumb {
  background-color: black;  /* 半透明黑色 */
  border-radius: 10px;                  /* 圆角 */
  border: 2px solid transparent;        /* 增加 padding-like 效果 */
  background-clip: content-box;         /* 内边框透明 */
}

/* 4. 滚动条悬停时的样式 */
::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

/* start */

*{
  font: 1.2rem "Manrope";
  /*以Charcoal为底色*/
  /* background-color: #36454F; */
  /* font color */
  /* color: whitesmoke; */
}

#web-title{
  font-weight: 200;
  font-size: 2rem;
  margin-bottom: 0.3rem;
}

#first-row, #second-row{
  background-color: #36454F;
  color: whitesmoke;
}

#navigation-bar{
  background-color: #36454F;
  flex-direction: column;
  position: fixed;
  width:100%;
  top: 0;
  z-index: 2000;
  transition: padding 200ms ease, box-shadow 200ms ease;
}
.navbar-container{
  background-color: #36454F;
}
#navigation-bar img{
  width: 15%;
  transition: width 200ms ease;
}

#navigation-bar.shrink #first-row{
  height: fit-content;
  margin-top: 5px !important;
  margin-bottom: 0 !important;
  padding-top: 1px;
  padding-bottom: 0;
  transition: 200ms ease;

}

#navigation-bar.shrink img{
  width: 10%;
  transition: width 200ms ease;
}
#navigation-bar.shrink p{
  font-size: 25px;
  transition: width 200ms ease;
}

#navigation-bar.shrink #second-row{
  margin-top: 0px;
  margin-bottom: 0;
}

#navigation-bar.shrink #second-row .nav-item{
  padding-left:7px;
  padding-right: 7px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-top: 5px;

}

.nav-item{
  padding: 10px;
  font-weight: 200;
  color: whitesmoke;

}
.nav-item:hover {
  background-color: whitesmoke;
  color: black;

}

