* {
    font-family: "Arial";
    background: antiquewhite;

}
@media (orientation: portrait) {

    .navbar {

    }
}

@media (orientation: landscape) {

    #navbar-div{
        position: fixed;

    }
    .navbar ul{
        gap: 1.5rem;

    }
    .navbar li{
        font-size: 1.5rem;
    }
    .nav-link{
        color: black !important;
        font-family: "Arial Black";
    }
}
